/* Прозорий фон */
.sidebarModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 2000;
}

/* Відкрите положення */
.sidebarModal.open {
    opacity: 1;
    visibility: visible;
}

/* Контейнер вмісту */
.sidebarContent {
    border-radius: 20px;
    width: 300px;
    height: 100vh;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

@media (min-width: 768px) {
    .sidebarContent {
        width: 410px;
    }
}

/* Відкрите положення */
.sidebarModal.open .sidebarContent {
    transform: translateX(0);
}

/* Кнопка закриття */
.closeBtn {
    position: sticky;
    top: 10px;
    left: 330px;
    background: #e44848;
    color: white;
    border: none;
    padding: 1px 6px;
    cursor: pointer;
}

.customScrollbar {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
}

.customScrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.customScrollbar::-webkit-scrollbar-thumb {
    background-color: #e44848;
    border-radius: 10px;
    border: 2px solid #f1f1f1;

}

.customScrollbar::-webkit-scrollbar-track {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.customScrollbar::-webkit-scrollbar-button {
    display: none;
}