.customScrollbar {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
}

.customScrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.customScrollbar::-webkit-scrollbar-thumb {
    background-color: #e44848;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

.customScrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.customScrollbar::-webkit-scrollbar-button {
    display: none;
}