.mainModalOverlay {
    background-color: #46464617;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: auto;
}


.mainModalContent {
    background: #79787881;
    border-radius: 15px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    margin: auto;
    position: relative;
    max-height: calc(100vh - 40px);
    padding: 40px 20px;
    width: 90%;
    max-width: 343px;
}


@media screen and (min-width: 768px) {
    .mainModalContent {
        padding: 40px;
        min-width: 514px;
        width: auto;
        max-width: none;
    }

    .closeMainModalButton {
        top: 20px;
        right: 20px;
    }

    .closeModalIcon svg {
        width: 28px;
        height: 28px;
    }
}